/* Less file for previewView*/
.cp-preview-father{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 90;
}

.preview-cover{
	background-color: #1B1B1B;
	position: fixed;
	width: 25%;
	z-index: 90;
	right: 0;
	top: 134px;
	bottom: 0;
	padding-left: 14px;
	padding-bottom: 14px;
	padding-right: 14px;
	padding-top: 14px;

	color: #f0f0f0;
}

.preview-description{
	background-color: #585858;
	position: fixed;
	width: 25%;
	z-index: 91;
	right: 25%;
	top: 0;
	bottom: 0;
	padding-left: 14px;
	padding-bottom: 14px;
	padding-right: 14px;
	padding-top: 140px;

	color: #f0f0f0;

	.preview-image {
		margin-bottom: 20px;
		max-height: 240px;
	}

	h2{
		margin-left: 10px;
		min-height: 70px;
	}

	h3{
		margin-left: 30px;
	}
}

.preview-chapter{
	h4{
		font-size: 24px;
	}

	h5{
		font-size: 20px;
	}

	.season-highlight{

		.btn{
			background-color: #FD8116;
		}
		h5{
			font-size: 24px;
		}
	}
}

h6{
	padding-top: 14px;
}