/* Less file for carouselContainer*/

.active-carousel{
	border: 4px solid #FF7600;
}

.carousel-inner{
	height: 800px;
	overflow: hidden;
}

.carousel-caption{
	padding: 25px !important;
	bottom: 220px !important;

	h5{
		font-weight: bold;
	}
}