<div class="carousel-container">	
	<carousel interval="CarouselContainerCtrl.myInterval">
		<slide ng-repeat="slide in slides" active="slide.active" class="slide">
			<img ng-src="{{slide.image}}" style="margin:auto; overflow-y:hidden;" width='100%'>
			<div class="carousel-caption">
				<h4 class="pull-left">{{slide.year}}</h4>
				<rating class="pull-left rating-bar" ng-model="slide.rate" max="5" readonly="true"></rating>
				<br>
				<!-- <h1 style="text-align:left;">{{slide.name}}</h1> -->
				<h5 style="text-align:left; margin-left:0px; clear:both;">{{slide.text | limitTo: MAX_STRING_SIZE}}{{slide.text.length > MAX_STRING_SIZE ? '...' : ''}}</h5>
				<p><a class="btn pull-left btn-lg" ng-class="{'caracol-btn':active, 'caracol-btn-cancel':!active}" ng-click="onClickButton()">Ver Producción</a></p>
			</div>
		</slide>
	</carousel>
</div>