/* Less file for seriesProduct*/

.series-description{
	background-color: #585858;
	position: fixed;
	width: 25%;
	z-index: 91;
	right: 70%;
	top: 0;
	bottom: 0;
	padding-left: 14px;
	padding-bottom: 14px;
	padding-right: 14px;
	padding-top: 140px;

	color: #f0f0f0;

	.preview-image {
		margin-bottom: 20px;
		max-height: 240px;
	}

	h2{
		margin-left: 10px;
		min-height: 70px;
	}
	/*
	h3{
		margin-left: 30px;
	}
	*/
}

.preview-season{
	background-color: #9a9a9a;
	position: fixed;
	width: 25%;
	z-index: 91;
	right: 45%;
	top: 0;
	bottom: 0;
	padding-left: 14px;
	padding-bottom: 14px;
	padding-right: 14px;
	padding-top: 140px;

	color: #f0f0f0;
}

.chapters-season{
	background-color: #1f1f1f;
	position: fixed;
	width: 45%;
	z-index: 92;
	right: 0;
	top: 134px;
	bottom: 0;
	padding-left: 14px;
	padding-bottom: 14px;
	padding-right: 14px;
	padding-top: 0px;

	overflow-y: scroll;
	overflow-x: hidden;

	color: #f0f0f0;
}

::-webkit-scrollbar{
	display: none;
}

.preview-chapter{
	background-color: #000000;
	position: fixed;
	width: 25%;
	z-index: 91;
	right: 0;
	top: 0;
	bottom: 0;
	padding-left: 14px;
	padding-bottom: 14px;
	padding-right: 14px;
	padding-top: 140px;

	color: #f0f0f0;
}

.season-highlight{
	margin-top: 10px;
	margin-bottom: 20px;

	h5{
		background-color: #9a9a9a;
		color: #f0f0f0;
	}
}

.chapter-info{
	margin-top: 20px;
	margin-bottom: 20px;
}