<div>
  <div class="slider-container">
    <h2 class="slider-title">{{productData.title}}</h2>
    <div class="ProductionList" id="newsSlider">
    <ul class="list-inline">
        <li class="ProductionItem" ng-repeat="slide in productData.slides">
            <div class="cover" popover="{{slide.text}}" popover-title="{{slide.name}}" popover-trigger="mouseenter" ng-class="{selected : slide.active}" Popover-animation="true" focusable tag="record" >
    			<img ng-src="{{slide.image}}">
			</div>
        </li>
    </ul>
  </div>
</div>

