<div class="container-purchase">
	<div id="purchase-logo"></div>
  <div id="general-modal-title">
  	<h1>{{title}}</h1>
  </div>
  <div class="general-modal-content">
    <div id="general-modal-container">
    	<div class="general-modal-content-container">
    		<center>
    			<img ng-src="{{imageUrl}}">
    			<h4>{{message}}</h4>
    		</center>
    	</div>
      <center class="center-buttons-container">
        <div class="buttons-terms-container">
          <button class="btn caracol-btn"  ng-custom-focus="focus == 'positive' " ng-click="positive()">{{positiveButton}}</button>
          <button class="btn caracol-btn-cancel"   ng-custom-focus="focus == 'negative'" ng-click="negative()" ng-show="negativeButton">{{negativeButton}}</button>
        </div>
      </center>
    </div>
  </div>
</div>