<div class="container-purchase">
  <div id="rate-title">
    <center>
      <h1>Calificar esta {{type}}</h1>
    </center>
  </div>
  <div class="rate-content">
    <div id="rate-container">
      <div>
        <div class="center-stars-glyphicons-container">
          <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" style="margin: 10px;"></rating>
        </div>
      </div>
      <center class="center-buttons-container">
        <div class="buttons-terms-container">
          <button class="btn caracol-btn" ng-click="ok()">Aceptar</button>
          <button class="btn caracol-btn-cancel" ng-click="cancel()">Cancelar</button>
        </div>
      </center>
    </div>
  </div>
</div>