<div>
	<div class="slider-container">
		<h2 class="slider-title">{{title}}</h2>
		<div>
			<div class="ProductionList" id="{{title + 'Slider' | nospace}}">
				<div class="background-left ng-hide" ng-click="left()"></div>
				<div class="background-right ng-hide" ng-click="right()"></div>
				<div class="arrow left ng-hide">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
				<ul class="list-inline">
					<li class="ProductionItem" ng-repeat="slide in slides track by $index" ng-click="onItemSelected($index)">
					<div class="image-cover">
						<div class="cover" ng-class="{selected : slide.active}" >
							<img ng-src="{{slide.image_url}}" err-src="http://www.caracolplay.com/sites/default/files/styles/256x386/public/producciones/noticias2_0.jpg">
						</div>
					</div>
					</li>
					<li class="free-zone"></li>
				</ul>
				<div class="arrow right ng-hide">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>
	</div>
</div>