<div>
	<div class="slider-container">
		<h2 class="slider-title" bindonce bo-text="title"></h2>
		<div>
			<div class="ProductionList" id="{{title + 'Slider' | nospace}}">
				<div class="background-left ng-hide" ng-click="left()"></div>
				<div class="background-right ng-hide" ng-click="right()"></div>
				<div class="arrow left ng-hide">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
				<ul class="list-inline">
					<li class="ProductionItem" ng-repeat="slide in slides2 track by slide.index+'_'+$index" ng-index="{{slide.index}}" ng-click="onItemSelected(slide.index)">
					<div class="image-cover">
						<div class="cover slide-production" ng-class="{selected:slide.active}" >
                            <!--<img style="background: #CCC;height: 300px" err-src="http://www.caracolplay.com/sites/default/files/styles/256x386/public/producciones/noticias2_0.jpg" >-->
                            <img ng-src="{{slide.image_url}}"/>
                            <!--<img ng-src-no-bind="slide.image_url" err-src="http://premium.icck.net/sites/default/files/blur.jpg" >-->
                            <!--<img ng-src-no-bind="getLoremPixel($index)"/>-->
						</div>
					</div>
					</li>
					<!--<li class="free-zone"></li>-->
				</ul>
				<div class="arrow right ng-hide">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
		</div>
	</div>
</div>