<div class="container-purchase">
	<div id="purchase-logo"></div>
	<div id="purchase-title">
		<h2>{{title}}</h2>
	</div>
	<div class="purchase-content">
		<div id="purchase-description">
			<div class="row">
				<div class="col-lg-12 description-container-father">
					<div class="up-button" ng-click="onUp()">
						<span class="glyphicon glyphicon-chevron-up"></span>
					</div>
					<div class="down-button" ng-click="onDown()">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</div>
					<div class="description-container">
						<h4 ng-bind-html="message | unsafe"></h4>
					</div>
				</div>
				<center>
					<div class="buttons-terms-container">
						<button class="btn caracol-btn" ng-click="ok()">Aceptar</button>
						<button class="btn caracol-btn" ng-click="cancel()" ng-show="showCancel">Cancelar</button>
					</div>
				</center>
			</div>
		</div>
	</div>
</div>