/* Less file for termsView*/

.description-container-father{
	position: relative;
	height: 400px;

	.up-button{
		position: absolute;
		right: 25px;
		top: 0px;
		z-index: 102;

		color: #6F6E6C;

		&:hover{
			color: #fff;
		}
	}

	.down-button{
		position: absolute;
		right: 25px;
		bottom: 0px;
		z-index: 102;

		color: #6F6E6C;

		&:hover{
			color: #fff;
		}
	}
}

.description-container{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 10px;
	overflow: auto;
	padding: 0px 20px;
	padding-right: 70px;
}

.buttons-terms-container{
	.caracol-btn{
		width: 500px;
		margin: 40px 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight: bold;
	}

	.caracol-btn-cancel{
		width: 500px;
		margin: 40px 20px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight: bold;
	}
}
