/* Less file for videoModule*/
@background-dark: #000;

.video-container{
	background-color: @background-dark;

	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	color: white;

	z-index: 100;
}

.video-module{
	position: absolute;
	top: 50%;
	margin-top: -34px;
	left: 50%;
	margin-left: -105px;
}

.video-container-ended{
	background-color: @background-dark;
	position: absolute;
	top: 20px;
	right: 55%;
	left: 20px;
	bottom: 50%;
	color: white;

	box-shadow: 0px 0px 6px @background-dark;
}

.video-actions{
	position: absolute;
	bottom: 15px;
	top: 54%;
	left: 20px;
	right: 0;

}

.image-container{
	position: absolute;
	top: 20px;
	right: 52%;
	bottom: 50%;
	.preview-image{
		position: absolute;
		height: 100%;
	}
}

.preview-video{
	position: absolute;
	top: 0;
	right: 5%;
	left: 68%;

	.options{
		h3{
			font-size: 34px !important;
		}
	}

	h4 {
		color: #999;
		margin-top: 30px;
	}
	.space{
		margin-bottom: 50px;
	}
	h3 {
		color: #fff;
		margin-top: 0;
	}
}

//ESTILOS PLAYER
/*
#bc-controls-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 1280px;
	height: 720px;
	z-index: 100;
	background-image: url("img/player/player-controls-background.png");
	background-position: bottom;
	background-repeat: repeat-x;
	display: none;
}

#bc-back {
	background: url("img/player/player-controls-top-background.png") repeat-x;
	height: 364px;
	width: 100%;
	position: absolute;
	z-index: 101;
	display: none;
}

#bc-controls {
	position: absolute;
	width: 1280px;
	bottom: 0;
	z-index: 102;
}

#bc-buttons {
	position: absolute;
	width: 1240px;
	bottom: 0;
	padding-left: 20px;
	outline: 0;
}

#bc-buttons .icon {
	width: 125px;
	height: 132px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
}

#bc-buttons .icon,
#bc-buttons .text {
	outline: none;
}

#bc-buttons-text {
	float: right;
	margin-top: 14px;
}

#bc-play-control {
	background-image: url("img/player/controls-play.png");
}

#bc-play-control:hover,
#bc-play-control:active,
#bc-play-control.focus {
	background-image: url("img/player/controls-play-hover.png");
}

#bc-rw-control {
	background-image: url("img/player/controls-rw.png");
}

#bc-rw-control:hover,
#bc-rw-control:active,
#bc-rw-control.focus {
	background-image: url("img/player/controls-rw-hover.png");
}

#bc-ff-control {
	background-image: url("img/player/controls-ff.png");
}

#bc-ff-control:hover,
#bc-ff-control:active,
#bc-ff-control.focus {
	background-image: url("img/player/controls-ff-hover.png");
}

#bc-play-control.pause {
	background-image: url("img/player/controls-pause.png");
}

#bc-play-control.pause:hover,
#bc-play-control.pause:active,
#bc-play-control.pause.focus {
	background-image: url("img/player/controls-pause-hover.png");
}

#bc-info-control {
	background-image: url("img/player/controls-info.png");
}

#bc-info-control:hover,
#bc-info-control:active,
#bc-info-control.focus {
	background-image: url("img/player/controls-info-hover.png");
}

#bc-buttons .text {
	height: 44px;
	margin: 30px 40px 36px 0px;
	padding: 8px 25px 0 25px;
	float: left;
	color: #bebebe;
	font-size: 30px;
	line-height: 30px;
	text-decoration: none;
	background-image: -webkit-gradient(
					linear,
					left bottom,
					left top,
					color-stop(0.0, rgba(0,0,0,0.50)),
					color-stop(1.7, rgba(255,255,255,0.30))
	);
	border-color: rgba(255,255,255,0.3);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

#bc-buttons .text:active,
#bc-buttons .text:hover,
#bc-buttons .text.focus {
	height: 49px;
	margin: 25px 30px 31px 0;
	padding: 13px 30px 0 30px;
	color: #424242;
	background-image: -webkit-gradient(
					linear,
					left bottom,
					left top,
					color-stop(0.1, rgb(241,241,241)),
					color-stop(0.55, rgb(241,241,241))
	);
	border-color: #f1f1f1;
}

#browse-close {
	position: fixed;
	top: 0;
	right: 20px;
}

#bc-progress-holder {
	background-color: rgba(255,255,255,0.35);
	border-radius: 4px;
	width: 1160px;
	height: 6px;
	position: absolute;
	left: 60px;
	bottom: 121px;
}

#bc-load-progress {
	background-color: rgba(255,255,255,0.35);
	border-radius: 4px;
	height: 6px;
	position: absolute;
}

#bc-play-progress {
	background-color: rgba(255,255,255,1);
	-webkit-box-shadow: 0 0 5px #ffffff;
	border-radius: 4px;
	height: 6px;
	position: absolute;
}

#bc-video {
	position: absolute;
	z-index: 100;
}
*/
/* required for yume
#video-container {
	z-index: 10;
}

#bc-video-title {
	font-size: 36px;
	color: #f1f1f1;
	margin-left: 60px;
	margin-bottom: 136px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 75%;
}

#bc-play-indicator {
	font-size: 16px;
	height: 16px;
	line-height: 16px;
	margin-bottom: 6px;
	color: #f1f1f1;
	opacity: 0.5;
	display: none;
}

#bc-time-control {
	position: absolute;
	right: 60px;
	font-size: 36px;
	color: #fff;
}

/* hide buttons when videos are playing
body.video #left,
body.video #right,
body.video #close {
	display: none;
}*/


