/* Less file for searchView*/
.preview-cover-search{
	background-color: #000000;
	position: fixed;
	width: 25%;
	z-index: 92;
	right: 0;
	top: 0;
	bottom: 0;
	padding-left: 14px;
	padding-bottom: 14px;
	padding-right: 14px;
	padding-top: 140px;

	color: #f0f0f0;

	.preview-image {
		margin-top: 20px;
		max-height: 240px;
	}
}

.search-results{
	background-color: #1f1f1f;
	position: fixed;
	width: 70%;
	z-index: 94;
	right: 25%;
	top: 134px;
	bottom: 0;
	padding-left: 14px;
	padding-bottom: 14px;
	padding-right: 14px;
	padding-top: 0px;

	overflow-y: scroll;
	overflow-x: hidden;

	color: #f0f0f0;
};

.search-bar{
	&.active{
		width: 74%;
	}
}