<header class="toolbar">
	<div id="logo" ng-click="home()"></div>
		<div class="search-bar active">
			<!--<div class="input-group">-->
				<!--<span class="input-group-btn">-->
					<!--<button class="btn dark-btn" type="button">-->
						<!--<span class="glyphicon glyphicon-search"></span>-->
					<!--</button>-->
				<!--</span>-->
				<!--<input type="text" class="form-control" ng-model="keyword" ng-keydown="keydownCallback($event)" focus-me="{{shouldBeFocus}}">-->
			<!--</div>-->

            <div class="input-group">
                <input type="text" placeholder class="form-control" ng-model="keyword" ng-change="searchValueChanged()" ng-keydown="keydownCallback($event)" focus-me="{{shouldBeFocus}}"/>
                <span class="glyphicon glyphicon-search"></span>

            </div>
		</div>
</header>

<div class="search-result-container">

	<div class="back-button-container" ng-click="onBack()">
		<img src="./assets/img/back-button.png">
	</div>
	
	<div class="up-button" ng-click="onUp()">
		<span class="glyphicon glyphicon-chevron-up"></span>
	</div>
	<div class="down-button" ng-click="onDown()">
		<span class="glyphicon glyphicon-chevron-down"></span>
	</div>
	<div class="search-results">
		<h5>{{getTitle()}}</h5>
		<preview-list list="resultButtons" id="chapters" on-click="onEnterItem(position)"></preview-list>
	</div>
</div>
<div class="preview-cover-search" ng-show="isShowingPreview">
	<!--<img style="position:absolute; top:0; right:0; left:0; width:100%; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.0) !important;" src="./assets/img/imagenblurdef.jpg">-->
    <div class="background-blur-search">
        <div class="background-gradient"></div>
    </div>
	<div ng-show="isItemSelected" class="search-container">
		<h2>{{selected.name}}</h2>
		<center><img  class="preview-image" ng-src="{{selected.image_url}}"></center>
		<h6>{{selected.year}}</h6>
		<rating class="pull-left rating-bar" ng-model="selected.rate" max="5" readonly="true" style="color:orange; font-size:16px; width: 100%; text-align: left;"></rating>
		<br/>
		<h6>{{selected.feature_text}}</h6>
	</div>
</div>