<header class="toolbar">
	<div id="logo"></div>
		<div class="search-bar">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
				<input type="text" class="form-control" ng-model="keyword" ng-keydown="keydownCallback($event)" focus-me="{{shouldBeFocus}}">
			</div><!-- /input-group -->
		</div>
</header>

<div class="search-results">
	<h5>{{getTitle()}}</h5>
	<preview-list list="resultButtons" id="chapters"></preview-list>
</div>
<div class="preview-cover-search" ng-show="isShowingPreview">
	<div ng-show="isItemSelected">
		<h2>{{selected.name}}</h2>
		<center><img  class="preview-image" ng-src="{{selected.image_url}}"></center>
		<h6>2012</h6>
		<rating class="pull-left" ng-model="slide.rate" max="5" readonly="true" style="color:orange; font-size:16px; width: 100px;"></rating>
		<br/>
		<h4 ng-bind-html="selected.feature_text | unsafe"></h4>
	</div>
</div>