/* Less file for dashboard*/
.scroll-area{
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.dashboard {
	position: relative;

	&.container{
		padding-left: 0;
		padding-right: 0;
		width: 100%;

		#Cover{
			img{
				-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
			}
		}
		
	}
	.centered-wrapper{
		width: 90%;
		height: 90%;
		margin: 0 auto;
	}
	.centered-wrapper img{
		width: 100%;
		height: 100%;
		margin: 0% auto;
	}
	.featured-slider{
		min-height: 400px;
	}
	.glyphicon-chevron-left{
		/*margin-left: -80px!important;*/
	}
	.glyphicon-chevron-right{
		/*right: 20%!important;*/
	}
	.btn-warning:link{
		background-color: #FF7600;
	}
	.carousel-control{
		/*background-image: none!important;*/
		width:5%!important;
	}
	.carousel-caption{
		left:6%;
		right: 50%;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
		bottom:60px;
	}
	.slide {
		min-height: 400px;
		width:100%;
	}
	.carousel-indicators li {
		background-color: gray;
		border-color: gray;
		margin-left: 10px;
	}
	.carousel-indicators .active {
		background-color: #FF7600;
		border-color: #FF7600;
		margin-left: 8px;
	}

	footer {
		margin: 10px;

		.inline{
			margin: 10px 30px;
			display: inline-block;
		}
	}
}

.dark-btn {
  //.button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  .button-variant(white; #333; #555);
  border-radius: 40px;
}

.link-deactive{
	&:link{
		color: #ddd;
	}
	&:visited{
		color: #ddd;
	}
}

.link-active{
	&:link{
		color: #FF7600;
	}
	&:visited{
		color: #FF7600;
	}
}

.search-bar {
	width: 28%;
	right: 10px;
	top: 50%;
	height: 56px;
	margin-top: -28px;
	position: absolute;
}