<header class="toolbar">
	<div id="logo"></div>
		<div class="search-bar">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
				<input type="text" class="form-control" ng-model="keywordToSearch">
			</div><!-- /input-group -->
		</div>
</header>

<search-view keyword="{{keywordToSearch}}" ng-show="dashCtrl.isInSearch"></search-view>
<preview-view ng-show="dashCtrl.showInfo()" on-show="dashCtrl.showPreview()" selected-item="dashCtrl.selectedItem"></preview-view>

<div class="dashboard container">

	<div style="height:134px; width: 100%;"></div>

	<carousel-container id="Cover" href="#Cover" slides="dashCtrl.slides" title="Cover" active="dashCtrl.isKeyboardActive(1)" preview="dashCtrl.activePreview(value)" restart-keyboard="restartConfigKeyboard"></carousel-container>

	<div ng-repeat="item in dashCtrl.list" ng-show="item.products.length !== 0">
		<products-container id="{{item.name}}" href="{{'#' + item.name}}" slides="item.products" title="{{item.name}}" active="dashCtrl.isKeyboardActive($index + 2)" preview="dashCtrl.activePreview(value)" item-selected="dashCtrl.selectedItem" restart-keyboard="restartConfigKeyboard"></products-container>
	</div>
</div>
